/*

    FEUILLE DE STYLE POUR IMPRESSION

*/

body { width:  100%; margin: 0; padding: 0; border: 0; background: #ffffff; overflow: hidden;}
    
    #fondPopup, #popupQuestion, p.conseil, #car, .bulleOutil, span, #bulleTwitter, #bulleImprimer, #popupCredit, audio, #cacheSiValide, #afficheSiValide { display: none;}

    #contenantPoeme { width: 920px; height: 480px; margin: 10px auto; overflow: hidden; 
        font-family: 'Merriweather', serif; color: #000000; text-align: center; 
        font-size: 40px; line-height: 60px; border: 1px solid #000000;}

        #animtext { width: 800px; height: 400px; padding: 60px;}