/*

    FEUILLE DE STYLE

*/

body { width:  100%; margin: 0; padding: 0; border: 0; background: #EEEEEE;}

    /* POEME */
    #animtext { width: 800px; height: 400px; margin: 20px auto; overflow: hidden; font-family: 'Merriweather', serif; 
        color: #FFFFFF; text-align: center; font-size: 30px; line-height: 22px; border: 1px solid #FFFFFF; padding: 15px;}

        #poeme { position: static;}
    
    /* COMPTE A REBOURS */
    #car { width: 50px; margin: 0 auto; text-align: center;}
        .carChiffre { background: none; border: 0; text-align: center; color: #FFFFFF; font-family: 'Merriweather', serif; 
            font-size: 10px;}

    /* BULLE OUTIL */
    .bulleOutil { width: 60px; height: 60px; border: 1px solid #FFFFFF; border-radius: 60px; text-align: center; cursor: pointer; 
        position: absolute; bottom: 20px; opacity: 0.3;}
    .bulleOutil:hover { opacity: 1;}

    /* TWITTER */
    #bulleTwitter { float: left; right: 20px;}
        #logotwitter { width: 20px; padding: 20px 0px 0px 0px;}

    /* A PROPOS */
    #popupCredit { width: 160px; height: 50px; background: #FFFFFF; padding: 10px; position: absolute; bottom: 85px; 
        right: 40px; display: none;}
    #popupCredit #creditTexte { font-family: Arial; font-size: 12px; line-height: 16px; text-align: center;}

    #bulleApropos { float: left; right: 100px;}
    #bulleApropos p { font-family: Arial; font-size: 16px; color: #FFFFFF; padding: 5px 0px 0px 0px;}



		#new {
			width: 13%;
			height: 8%;
			display: block;
			position: relative;
			margin-left: auto;
			margin-right: auto;
			margin-top: 7%;
			background-color:white;
			border: 0;
			cursor: pointer;
			border-radius: 3em;
			opacity:50%;
			outline:0; 
		}
		
		#new:hover {
			background-color:black;
			color:white;
			outline:0; 
		}